<center>
    {{IMAGES}}
</center>

<hr>

{{DESCRIPTION}}

<hr>

<table border="0" cellspacing="0" cellpadding="10" width="100%" bgcolor="#f9f9f9">
    <tr>
        <td>
            {{FEATURES}}
        </td>
    </tr>
</table>

<hr>

<font size="3"><b>商品の特徴</b></font><br><br>
{{HIGHLIGHTS}}

<table border="0" cellspacing="1" cellpadding="7" width="100%" bgcolor="#ccc">
    <tr>
        <th colspan="2" bgcolor="#EEE">商品情報</th>
    </tr>
    {{PRODUCT_INFO}}
    <tr>
        <th width="30%" bgcolor="#EEE">注意事項</th>
        <td bgcolor="#fff">-当店でご購入された商品は、原則として、「個人輸入」としての取り扱いになり、台湾からお客様のもとへ直送されます。<br>-個人輸入される商品は、すべてご注文者自身の「個人使用・個人消費」が前提となりますので、ご注文された商品を第三者へ譲渡・転売することは法律で禁止されております。<br>-関税・消費税が課税される場合があります。詳細は<a
                href="https://www.rakuten.co.jp/howtobuy/om/customs/">こちら</a>ご確認下さい。<br>-ご注文後、5営業日以内に配送手続きをいたします。配送作業完了後、15日以内でのお届けとなります。
        </td>
    </tr>
</table>

<br>
<center>
    <a href="https://event.rakuten.co.jp/overseas/guide/info">
        <img src="https://image.rakuten.co.jp/giftoftw/cabinet/kaigai_2.jpg" width="100%">
    </a>
</center>
